
  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Kalam', cursive;
  height: 100vh;
  position: relative;
}
.container{
  width: 1180px;
  margin: auto;
}
#main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
#main div{
  width: 30%;
  padding: 10px;
  border: 2px solid gray;
  margin-bottom: 20px;
  border-radius: 6px;
  background: linear-gradient(red,purple);
}
#main div h2{
  font-size: 18px;
}
button{
  margin-top: 10px;
  width: 100%;
  background-color: yellowgreen;
  padding: 6px 0;
  border: none;
  border-radius: 6px;
  font-family: 'Kalam', cursive;
  font-weight: 600;
}
#details{
  background: linear-gradient(green,yellow);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 100px;
  border-radius: 10px;
  display: none;
}